astatium-service/src/main/resources/com.dulion.atatium.context.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:com:dulion:astatium:service:model:context" xmlns:ctx="urn:com:dulion:astatium:service:model:context"
  elementFormDefault="qualified">

  <element name="ContextRegister">
    <complexType>
      <sequence>
        <element name="ContextEntries" type="ctx:ContextEntry" minOccurs="0" maxOccurs="unbounded" />
      </sequence>
    </complexType>
  </element>

  <complexType name="ContextEntry">
    <sequence>
      <element name="URI" type="string" />
    </sequence>
  </complexType>
</schema>