astatium-service/src/main/resources/com.dulion.atatium.file.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:com:dulion:astatium:service:model:file" xmlns:file="urn:com:dulion:astatium:service:model:file"
  elementFormDefault="qualified">

  <element name="FileRegister">
    <complexType>
      <sequence>
        <element name="FileEntry" type="file:FileEntry" minOccurs="0" maxOccurs="unbounded" />
      </sequence>
    </complexType>
  </element>

  <complexType name="FileEntry">
    <sequence>
      <element name="Path" type="string" />
    </sequence>
  </complexType>
</schema>