astatium-service/src/main/resources/com.dulion.atatium.file.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema 
    xmlns="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="urn:com:dulion:astatium:service:model:file" 
    xmlns:file="urn:com:dulion:astatium:service:model:file"
    elementFormDefault="qualified" >
    
    <element name="FileList" type="file:FileListType" />
    
    <complexType name="FileListType">
      <sequence>
        <element name="file" type="file:FileType" minOccurs="0" maxOccurs="unbounded" />
      </sequence>
    </complexType>
    
    <complexType name="FileType">
      <sequence>
        <element name="path" type="string" />
      </sequence>
    </complexType>
</schema>